# Welcome to Serverless!
#
# This file is the main config file for your service.
# It's very minimal at this point and uses default values.
# You can always add more config options for more control.
# We've included some commented out config examples here.
# Just uncomment any of them to get that config option.
#
# For full config options, check the docs:
#    docs.serverless.com
#
# Happy Coding!

service: replicate-index

frameworkVersion: '2'

provider:
  name: aws
  runtime: nodejs12.x
  lambdaHashingVersion: 20201221
  # stage is dev or prod, dev will use config-dev.yaml, prod will use config-prod.yaml
  stage: dev
  region: us-east-1
  timeout: 300
  environment:
    STAGE: ${opt:stage, self:provider.stage, 'dev'}

functions:
  replicate-test1:
    handler: handler.replicate
    environment:
      # Task to replicate from the config-${opt:stage}.yaml file
      # if no list exists, then all will be processed
      TASK: replicate-test1
    events:
      - schedule: rate(1 minute)
